#main-footer {
    background-color: var(--color-celeste-claro);
    color: var(--color-blanco);
    padding: 45px 0;
}

#main-footer .container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

#main-footer .left {
    text-align: left;
}

#main-footer .right {
    text-align: right;
}
